.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 100;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.25);
}

.modal-title {
    display: flex;
    height: 50%;
    justify-content: space-between;
    padding-left: 35px;
}

.modal-btn {
    border: none;
    background-color: inherit;
    align-self: self-start;
    display: contents;
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.modal-footer button {
     color: white;
}

.card {
    width: 25%;
    padding: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    .img-size {
        height: 253px;
        overflow: hidden;
    }
    img {    
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.buttons {
    display: flex;
}

.addToCard {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #2972CC;
        border-radius: 40px;
        width: 150px;
        padding: 10px 20px;
        cursor: pointer;
}

.addToFavorite {
    font-size: 16px;
    line-height: 20px;
    color: white;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 8px 20px;
    margin-left: 10px;
    width: 50%;
    text-align: center;
}

.container {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}