.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
    // background-color: #b2c6dd;
    z-index: 100;
}

.modal:second-child {
    background-color: white;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.25);
}

.modal-title {
    display: flex;
    justify-content: space-between;
    button {
        border: none;
        background-color: inherit;
    }
}

.modal-content {
    flex-grow: 1;
}

.first-modal {
    color: white;
    background-color: deepskyblue;
    .modal-content  {
        color: deepskyblue;
        background-color: #ffff20;
    }
}

.second-modal {
    background-color: white;
    .modal-content {
        color: white;
        background-color: red;
    }
}