.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 100;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.25);
}

.modal-title {
    display: flex;
    height: 50%;
    justify-content: space-between;
    padding-left: 35px;
}

.modal-btn {
    border: none;
    background-color: inherit;
    align-self: self-start;
    display: contents;
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.modal-footer button {
     color: white;
}