<div>
    <h5 data-value="name" class="card-text"></h5>
    <h6 data-value="username" class="card-subtitle mb-2 text-muted"></h6>
    <h6 data-value="email" class="card-subtitle mb-2 text-muted"></h6>
</div>