.card {
    width: 25%;
    padding: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    .img-size {
        height: 253px;
        overflow: hidden;
    }
    img {    
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.buttons {
    display: flex;
}

.addToCard {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #2972CC;
        border-radius: 40px;
        width: 150px;
        padding: 10px 20px;
        cursor: pointer;
}

.addToFavorite {
    font-size: 16px;
    line-height: 20px;
    color: white;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 8px 20px;
    margin-left: 10px;
    width: 50%;
    text-align: center;
}